{
  "root": true,
  "env": {
    "node": true,
    "browser": true
  },
  "extends": ["eslint:recommended", "standard", "prettier"],
  "rules": {
    "no-console": "off",
    "object-shorthand": "off"
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
      ],
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint"]
    },
    {
      "files": ["**/*.html"],
      "plugins": ["eslint-plugin-html"]
    }
  ]
}
